.lan{
    width: 90%;
    margin: 0 auto;
    .showcase{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        h1{
            font-size: 50px;
            color: green;
        }
        p{
            font-size: 20px;
            background: rgba(0, 128, 0, 0.468);
            padding: 10px;
            
        }
        img{
            height: 300px;
        }
    }
}