.inp{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220216/pngtree-green-simple-spring-small-fresh-aesthetic-background-image_972111.jpg");
    background-position: center;
    background-size: cover;
    color: black;
}
